@page "{id}"
@model CleanArch.Mvc.Pages.CourseModel
@{
}
<input type="hidden" asp-for="@Model.Course.Id" />
<h4>@Model.Course.Name</h4>
<img class="img-thumbnail"  src="@Model.Course.ImageUrl"/>
<p>
    @Model.Course.Description
</p>