@page
@model CleanArch.Mvc.Pages.CoursesModel
@{
}
<div class="container body-content">
    <div class="row course-content">
        @foreach (var item in Model.CoursVm.Courses)
        {
            <div class="course-image-container">
                <a href="/Course/@item.Id">
                    <div class="course-image" style="background-image:url(@item.ImageUrl)"></div>
                </a>
            </div>
            <span>@item.Name</span>
        }

    </div>
</div>