@model CleanArch.Application.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="alert alert-success">
    <h1>@Model.Username !</h1>
    <p>Welcome to our website</p>
</div>
